:root {
  --main-bg-color: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #161616;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.logo {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


.fixed-title {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  z-index: 2;
  padding-left: 10vw;
  flex-direction: column;
  justify-content: center;
}

header {
  border-radius: 26.5px;
  background-color: #000000;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px 12px 20px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 2em;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
  color: #31e981;
  padding: 2rem;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.info-text {
  font-size: 15px;
  line-height: 20px;
}

.wrap {
  position: relative;
  display: block;
  line-height: auto;
  overflow: hidden;
  transition: 0.5s;
  will-change: transform;
}

.wrap h1,
.wrap .img {
  transform: translateY(100%);
  transition: 0.5s;
  will-change: transform;
}

.wrap.active h1,
.wrap.active .img {
  transform: translateY(0);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.scrollable {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  will-change: transform;
}

.content {
  position: relative;
  width: 100%;
}

section {
  position: relative;
  height: 50vh;
  /* border: 1px solid black; */
}

.img-1 {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 40%;
  height: 90%;
  z-index: 3;
}

.proj-info-1 {
  position: absolute;
  left: 44%;
  bottom: 5%;
  text-align: left;
}

.img-2 {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 30%;
  height: 70%;
}

.proj-info-2 {
  position: absolute;
  right: 34%;
  bottom: 10%;
  text-align: right;
}

.img-3 {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 33%;
  height: 80%;
}

.proj-info-3 {
  position: absolute;
  right: 24%;
  bottom: 10%;
  text-align: right;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(20%);
}

.Z {
  z-index: 1;
}

.Q {
  z-index: 3;
}

.W {
  z-index: 1;
}

.S{
  right: 35%;
  z-index: 3
}

@media screen and (max-width: 760px) {
  .container {
    grid-template-columns: 100%;
  }
}