* {
  margin: 0;
  padding: 0;
}

body {
  height: 4300px;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header {
  border-radius: 26.5px;
  background-color: #000000;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px 12px 20px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 2em;
  padding: 0.5rem 0;
}
a {
  text-decoration: none;
  color: #31e981;
  padding: 2rem;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.fixed-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.firstpage {
  z-index: 2;
}

.secondpage {
  background: #cabaad;
}

.thirdpage {
  transform: translate3d(0, 100vh, 0);
  background: #231f20;
  padding-top: 50px;
}
.thirdpage .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}
.thirdpage .imgs {
  margin: 100px 0;
  position: relative;
}

.img {
  position: absolute;
  display: block;
  top: 10vw;
}

.img1 {
  left: calc(50vw - 350px);
  height: 400px;
  width: 400px;
  padding-top: 20vh;
}
.img2 {
  left: calc(50vw - 50px);
  top: 16vw;
  height: 300px;
  width: 300px;
}

.thirdpage .title h2 {
  color: #c2c2c2;
}

.background,
.middleground,
.foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-block {
  position: absolute;
  bottom: -10vh;
  left: 0;
  width: 100%;
  height: 40vh;
  transform: skewY(-2deg);
}

.mg-block {
  position: absolute;
  bottom: -45vh;
  left: -30vw;
  width: 100%;
  height: 40vh;
  transform: skewY(40deg);
}

.fg-block {
  background: #7b7979;
  position: absolute;
  bottom: -54vh;
  left: 0;
  width: 100%;
  height: 60vh;
  transform: skewY(-20deg);
}

.heading {
  position: absolute;
  font-size: 5vw;
  left: 26vw;
  bottom: 29vw;
}

.firstpage h1 {
  color: #f4f4f4;
}

.secondpage h1 {
  color: #fdeabf;
  transform: scale(1.35);
}

.secondpage h1 span {
  display: inline-block;
}

.about {
  position: absolute;
  width: 40vw;
  left: 32vw;
  bottom: 10vw;
  transform: scale(0);
}

.bottom-sect {
  height: 1000px;
}

.progress-line {
  position: absolute;
  width: 2px;
  background: red;
  height: 100%;
  left: 5vw;
  top: 0;
  transform: translate3d(0, -100%, 0);
  z-index: 0;
}

@media screen and (max-width: 760px) {
  body {
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .thirdpage .title {
    font-size: 4vw;
  }
  .thirdpage .imgs {
    margin: 50px 0;
  }
  .img1 {
    left: calc(50vw - 200px);
    height: 250px;
    width: 250px;
  }
  .img2 {
    left: calc(50vw - 50px);
    top: 16vw;
    height: 200px;
    width: 200px;
  }
  .heading {
    font-size: 10vw;
    left: 10vw;
    bottom: 35vw;
  }
  .about {
    width: 80vw;
    left: 10vw;
    bottom: 10vw;
  }
  .progress-line {
    left: 10vw;
  }
}
