/* CSS Variables */
:root {
  --main-bg-color: #161616;
  --text-color: #fff;
  --accent-color: #31e981;
  --font-size: 16px;
  --border-radius: 5rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/3.JPG);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Coming Soon */
.soon {
  color: var(--text-color);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--text-color) 1px solid;
  padding: 20px;
  box-shadow: 0px 0px 10px #595959;
  border-radius: var(--border-radius);
}

/* Typography */
body {
  font-size: var(--font-size);
  color: var(--text-color);
}

p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Navigation */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  padding: 2rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Intro */
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--main-bg-color);
  transition: 1s;
}

/* Logos */
.logo-header, .logo {
  position: absolute;
  color: var(--text-color);
  transition: ease-in-out 0.5s;
}

.logo-header {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo.active, .logo.fade {
  bottom: 0;
  opacity: 1;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .soon, .header {
    height: auto;
  }
}
